.soLongText{
    overflow-wrap: break-word; /* Quebra apenas entre palavras */
    word-break: normal; /* Evita quebre no meio de palavras */
    white-space: normal; /* Permite quebras de linha */
    hyphens: auto; /* Adiciona hífens automaticamente em palavras longas */
    text-align: center;
    margin: 0 auto;
}


.table-cell {
    max-width: 80px;
    padding: 0;
}


.button {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 5px !important;
    padding: 10px !important;
    background: transparent !important;
    color: #1F1717 !important;
}  

.button:hover {
    background: transparent;
    color: white !important; 
}



