.home {
    background-color: white !important;
    min-height: calc(100vh - 70px);
}

.css-1vm2qft {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
