@charset 'utf-8';
@import "./styles/custom_colors.scss";
/* No seu CSS */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&display=swap');


$custom-colors: (
  "custom-green": $custom-green,
  "custom-black": $custom-black
);

body {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
}
/* Para dispositivos móveis */
@media (max-width: 600px) {
  .header {
    font-size: 14px;
    flex-direction: column;
  }
}

/* Para tablets e desktops */
@media (min-width: 601px) {
  .header {
    font-size: 20px;
    flex-direction: row;
  }
}
